.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 3em;
    margin-top: 2em;
}

.header > .link {
    text-decoration: none;
    color: #C5CACE;
}
.header > .active-link {
    text-decoration: none;
    color: #1B1B1B;
}

.header > .link:hover {
    color: #1B1B1B;
}

