.main-screen {
    display: flex;
    flex-direction: column;;
    margin: 5em;
    height: 80vh;
    background: linear-gradient(to bottom, white 0 25%, #F7F7F7 0 85%);
}

.page-title {
    margin-left: 1.3em;
    margin-top: 1em;
    font-weight: bold;
    color: #1B1B1B;
}