.main-screen {
  display: flex;
  flex-direction: column;
  margin: 5em;
  height: auto;
  background: linear-gradient(to bottom, white 0 140px, #f7f7f7 0 100%);
}

.page-title {
  margin-left: 1.4em;
  margin-top: 0.8em;
  font-weight: bold;
  color: #1b1b1b;
}
.table-background {
  background-color: white;
  width: auto;
  height: 100%;
  margin: 4em 2.5em 2.5em 2.5em;
  border-radius: 5px;
}
