body {
  margin: 0;
  font-family: 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #4DB4C5 0 35%, #E6EAED 0 65%);
}
