body {
  margin: 0;
  font-family: "Alata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #4db4c5 0 250px, #e6eaed 0 100%);
  background-repeat: no-repeat;
}
